<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qrs.mapper.EquipmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qrs.pojo.Equipment">
        <id column="id" property="id" />
        <result column="equipment_id" property="equipment_id" />
        <result column="user_id" property="user_id" />
        <result column="equipment_number" property="equipment_number" />
        <result column="equipment_name" property="equipment_name" />
        <result column="equipment_data" property="equipment_data" />
        <result column="equipment_place" property="equipment_place" />
        <result column="employ" property="employ" />
        <result column="update_time" property="update_time" />
        <result column="create_time" property="create_time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, equipment_id, user_id, equipment_number, equipment_name, equipment_data, equipment_place, employ, update_time, create_time
    </sql>

</mapper>
