<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qrs.mapper.SignPointMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qrs.pojo.SignPoint">
        <id column="id" property="id" />
        <result column="sign_id" property="sign_id" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sign_id, lng, lat
    </sql>

</mapper>
