<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qrs.mapper.SignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qrs.pojo.Sign">
        <id column="id" property="id" />
        <result column="sign_id" property="sign_id" />
        <result column="sign_number" property="sign_number" />
        <result column="sign_name" property="sign_name" />
        <result column="sign_node" property="sign_node" />
        <result column="update_time" property="update_time" />
        <result column="create_time" property="create_time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sign_id, sign_number, sign_name, sign_node,  update_time, create_time
    </sql>

</mapper>
