<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qrs.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qrs.pojo.User">
        <id column="id" property="id" />
        <result column="user_id" property="user_id" />
        <result column="user_name" property="user_name" />
        <result column="department_id" property="department_id" />
        <result column="role" property="role" />
        <result column="user_password" property="user_password" />
        <result column="sex" property="sex" />
        <result column="id_card" property="id_card" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="update_time" property="update_time" />
        <result column="create_time" property="create_time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, department_id,`role`,user_password, sex, id_card, address, phone, update_time, create_time
    </sql>


</mapper>
