<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qrs.mapper.WarningSwitchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qrs.pojo.WarningSwitch">
        <id column="id" property="id" />
        <result column="switch_id" property="switch_id" />
        <result column="switch_name" property="switch_name" />
        <result column="switch_state" property="switch_state" />
        <result column="update_time" property="update_time" />
        <result column="create_time" property="create_time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, switch_id, switch_name, switch_state, update_time, create_time
    </sql>

</mapper>
